/* CSS declarations go here */
html{
	width:100%;
	height:0;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial , sans-serif;
	background-color:#d2d2d2;
	color:white;
	width:100%;
	margin:0;
}
a:{ text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black; }
a:link { text-decoration: none; color:black; }
a:active { text-decoration: none; color:black; }

label{
	color:white;
	text-decoration:none;
}
label:hover{cursor:pointer}
#columnMain{
	width:100%;
}

#header{
	background-color:black;
	width:100%;
	min-width:1200px;
	height:100px;
	float:left;
	position:relative;
	/*background: linear-gradient(black 90px, #c9c9c9);*/
}
#headerElements{
	color:white;
	width:100%;
	height:100px;
	float:left;
	position:relative;
	top:-90px;
}
.tabul{
	text-align:center;
}
#headerElements .tabli{
	font-size:2.2em;
	margin-left: 82px;
	margin-right: 82px;
}
.tabli
{
	display: inline;
	list-style-type: none;
/* Remove text-highlighting */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#headerElements li:hover{
	cursor:pointer;
	box-shadow: 0 5px 2px -2px rgba(0, 205, 255, 0.7);
}

#footer {
	font-size:1em;
	z-index:-1;
	color:black;
	width:100%;
	min-width:1200px;
	height:120px;
	float:left;
	position:relative;
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 4px 4px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 4.5px;
background-color:#282828;
background-size:8px 8px;
}
#footerElements{
	font-size:1em;
	color:white;
	width:100%;
	height:132px;
	float:left;
	position:relative;
	top:100px;
}
#footerElements .tabul{
	font-size:1.4em;
}
#footerElements .tabli{
	margin-left:32px;
	margin-right:32px;
}
#wiwa{
	font-size:1.6em;
	box-shadow: 0 5px 2px -2px rgba(0, 205, 255, 1);
}
#divMid{
	width:1200px;
	margin:0 auto;
}
#columnInner{
	position:relative
	margin:0 auto;
}


#divHome{
	position:relative;
	float:left;
	margin-top:35px;
}
#divImgs{
	width:360px;
	height:480px;
    overflow: hidden;
	float:left;
	margin-left:40px;
	border-radius: 20px 20px 20px 20px;
	/*box-shadow: 0px 0px 20px 3.5px rgba(0, 205, 255, 0.6);*/
}
#divIntro {
	width:760px;
	float:right;
	margin-left:0px;
	text-shadow: 3px 2.5px 3.5px black;
	line-height:30px;
}
#divText{
	margin-left:140px;
}
#ablbl{
	font-size:1.2em;
	text-decoration:underline;
	text-shadow: none;
	color:black;
}
#divMore{
	color:black;
	text-shadow: none;
	font-size:1.25em;
}

#libtn{
	
}
#divProjects{
	font-size:1.2em;
	float:left;
	color:black;
	margin-top:-60px;
}
#divUpcoming{
}

.project{
	float:left;
	margin-bottom:22px;
	min-width:900px;
}

.projectImg{
	width:236px;
	height:300px;
	float:left;
	margin-right:18px
}
/*
.upcomingImg{
	width:150px;
	height:150px;
	float:left;
	margin-right:18px
}
*/
.bicon{
	width:80px;
	height:80px;
	position:relative;
	top:27px;
}

.projectTitle{
	margin-bottom:-1px;
	margin-top:-1px;
	font-size:1.2em;
	font-weight:bold;
}

.bt{
	color:black;
	text-shadow: 1.2px 1.8px 1.5px gray;
}

.view{
	
}




