/* CSS declarations go here */

@font-face
{
font-family: Trench;
src: url(./trench100free.otf);
}

html{
	width:100%;
	height:0;
}
body{
	font-family: "Helvetica Light", Arial , sans-serif;
	font-weight: 100;
	/*background-color:#d2d2d2; 
	background-image:url(./bg2.jpg);
	background-color:#e0e0e0;*/
	background-color:rgb(237,237,237);
	color:white;
	width:100%;
	margin:0;
}
a:{ text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black; }
a:link { text-decoration: none; color:black; }
a:active { text-decoration: none; color:black; }


label:hover{cursor:pointer}
/*div{
	border-style:solid;
	border-width:1px;
	border-color:blue;
}*/
#columnMain{
	width:100%;
}

#header{
	background-color:black;
	width:100%;
	min-width:1200px;
	height:160px;
	float:left;
	position:relative;
	/*background: linear-gradient(black 90px, #c9c9c9);*/
}
#divWin{
	cursor:default;
	width:340px;
	font-size:1.5em;
	margin-bottom:-40px;
}
#divWin h1{
	font-size:3.4em;
	margin-bottom:-40px;
}
#divWin p{
	text-align:center;
}
#headerElements{
	color:white;
	width:100%;
	height:100px;
	float:left;
	position:relative;
	top:-200px;
}
.tabul{
	text-align:center;
}
#headerElements .tabli{
	font-size:2.2em;
	margin-left: 82px;
	margin-right: 82px;
}
.tabli{
	display: inline;
	list-style-type: none;
/* Remove text-highlighting */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tabli label{
	color:white;
	text-decoration:none;
	position:relative;
	top:-4px;
	opacity:.64;
}

#headerElements li:hover:not(.cstruction){
	cursor:pointer;
	box-shadow: 0 5px 2px -2px rgba(0, 205, 255, 0.7);
}

.cstruction{
	cursor:not-allowed;
	opacity:.5;
}

#footer {
	font-size:1em;
	z-index:-1;
	color:black;
	width:100%;
	min-width:1200px;
	height:140px;
	float:left;
	position:relative;
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 4px 4px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 4.5px;
background-color:#282828;
background-size:8px 8px;
	top:0px;
}
#footerElements{
	font-size:1em;
	color:white;
	width:100%;
	height:130px;
	float:left;
	position:relative;
	top:130px;
}
#footerElements .tabul{
	font-size:1.4em;
	margin:auto auto;
}
#footerElements .tabli{
	margin-left:16px;
	margin-right:16px;
}
#wiwa{
	font-size:1.6em;
	box-shadow: 0 5px 2px -2px rgba(0, 205, 255, 1);
}

.btnicon{
	width:80px;
	height:80px;
	position:relative;
	top:27px;
}

#divMid{
	width:1200px;
	margin:0 auto;
}
#columnInner{
	position:relative
	margin:0 auto;
}


#divHome{
	width:1050px;
	position:relative;
	float:left;
	margin-left:75px;
}
#divImgs{
	width:300px;
	height:480px;
    overflow: hidden;
	float:left;
	margin-left:40px;
	/*border-radius: 20px 20px 20px 20px;*/
	border-style: solid;
	border-color: black;
	border-width: 1px;
	box-shadow: 0px 0px 16px 2px black;
}
#divIntro {
	width:675px;
	height:420px;
	float:right;
	margin-left:20px;
	/*background-color: rgba(252,252,252,.64);*/
	background-color: rgba(225,225,225,.64);
	border-radius: 5px 5px 5px 5px;
	box-shadow: inset 0px 0px 1px 1px #bfbfbf;
}

#divText{
	padding-left:56px;
	color: black;
}
#divIntro p{
	margin-top:16px;
	margin-bottom:16px;
}

.hey{
	color:white;
	margin-left:-30px;
	text-shadow: 0px 0px 5.8px black;
	-webkit-text-stroke: 1px gray;
}
.tre{
	font-family: Trench, "Helvetica Light", Arial , sans-serif;
}
#ablbl{
	font-size:1.2em;
	text-decoration:underline;
	text-shadow: none;
	color:black;
}
#divMore{
	color:black;
	text-shadow: none;
	font-size:1.25em;
	margin-top:10px;
	line-height:32px;
}

#libtn{
	
}
#divProjects{
	font-size:1.2em;
	color:black;
	width:1050px;
	position:relative;
	float:left;
	margin-left:75px;
	top:-60px;
}

#projects{
	font-size:4.2em;
	margin-bottom:-15px;
}

#projects+hr{
	margin-bottom:32px;
	height: 5px;
	border: 0;
	box-shadow: inset 0 6px 6px -6px black;
}

.projectDiv{
	float:left;
	min-height:300px;
	min-width:900px;

	padding:20px;
	margin:20px;
	
	background-color: rgba(225,225,225,.64);
	border-radius: 5px 5px 5px 5px;
	box-shadow: inset 0px 0px 1px 1px #bfbfbf;
}

.projectImg{
	width:236px;
	height:300px;
	float:left;
	margin-right:18px
}
.projectTitle{
	font-size:1.5em;
	font-weight:bold;
	margin:0;
}


.view{
	
}




